/**================================================================================**
*    Nimbus 0.1 - Componentes UX                                                    *
*    by Roberto Ramos                                                               *
* *=================================================================================*/

/* Importando Font */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body{ font-family: "Droid Sans", sans-serif; }

/* == Esquema de Cores == */
/*          Cores         */
.default{ background: #999; color: #fff; }
.primary{ background: #0000CD; color: #fff; }
.sucess{ background: #32CD32; color: #fff; }
.info{ background: #6495ED; color: #fff; }
.warning{ background: #FF8C00; color: #fff; }
.danger{ background: #FF0000; color: #fff; }


/*==        Icones      ==*/
.view-icon{
    background: url(../assets/img/view-icon.png);
}

/* == Component == */
/*      Panel      */
.panel{
    width: 100%;
    background-color: #fff;
    font-family: "Droid Sans", Helvetica, Arial, sans-serif;
    border-radius: 0.3em;
}
.panel-head{
    color: #FFF;
    font-size: 1.5em;
    font-style: italic;
    background-color: #BED75F;
    padding: 0.6em;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom: 0.1em solid #666;
}
.panel-content{
    padding: 1em;
    font-size: 1.2em;
    font-family: "Droid Sans", Helvetica, Arial, sans-serif;
    color: #000;
}

/* == Component == */
/*      Label      */
.label{
    padding: 0.8em;
    border-radius: 0.3em;
}