/* CSS MindTrip */
/*==============================
            Normas
================================*/
body{ font-size: 62.5%; line-height: 1.5; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: 444; margin: 0; background-color: #333;}
img,
picture,
video,
embed{ max-width: 100%; }
*, *:before, *:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

a{ color: #00ccff; text-decoration: none; font-size: 1.6em; }
a:hover{ color: #BED75F; }

/* -- Estilos Principais -- */
/* header */
.header{ width: 100%; height: 78px; background-color: #fff; }

.header-content{ max-width: 1200px; margin: 0 auto; }

/* Logo */
.logo { width: 20.744680851064%; float: left; margin-top: 1.5em; } /* 264px/1128px */

/* Menu */
.menu{ width: 70%; float: right; margin-right: 3em; }
.menu ul{ float: right; }
.menu li{ font-size: 1.2em; margin-left: 2em; margin-top: 1em; display: inline-block; }
.menu li a{ color: #999; }
.menu li a:hover{ color: #BED75F; }

/* Filtrar por Categoria */
.search-category{
    max-width: 1200px;
    margin: 0 auto;
    display: none;
}
.dropdown-category{
    max-width: 1200px;
    margin: 0 auto;
    text-align: right;
    margin-top: 0.2em;
    margin-bottom: 0.6em;
}
.dropdown-category a{
    background-color: #BED75F;
    color: #fff;
    padding: 0.3em;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}
.dropdown-category a:hover{
    color: #999;
}

/* conteudo */
.conteudo{ max-width: 1200px; margin: 0 auto; margin-bottom: 2em; }

/* Chamadas */
.chamadas{ height: 450px; margin-bottom: 2em; }

/* Carrocel */
.carrocel { 
    position: relative;
    width: 73%; /* 876px/1200px */
    height: 450px;
    background: url('/assets/img/wallp.jpg');
    float: left;
    border-radius: 0.3em;
    margin-right: 2%; /* 24px/1200px */
}

/* Caixa */
.caixa {
    width: 100%; /* 876px/1200px */
    padding: 0.1em 4em 0.1em 4em;
    position: absolute;
    bottom: 0px;
    background: rgba(0,0,0,0.6);
    color: #FFF;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}
.caixa-texto{ margin: 0 auto; }
.caixa-seletor{  }
.caixa-seletor ul{ text-align: center; }
.caixa-seletor li{ text-align: -webkit-match-parent; padding: 0.2em; display: inline-block;}
.caixa-seletor li a{ 
    width: 1em;
    height: 1em;
    display: block;
    cursor: pointer;
    background-color: #fff;
    border-radius: 0.6em;
    text-indent: -9999px;
}
.caixa-seletor li a.active{ background-color: #BED75F; }

/* Tools */
.tools { 
    float: right;
    width: 25%; /* 300px/1200px */
    height: 450px;
    background-color: #fff;
    border-radius: 0.3em;
}


/* Colunas */
.coluna{ 
    width: 23%; /* 276px/1200px */
    margin-right: 2%; /* 24px/1200px */
    float: left;
}
.coluna:last-child{
    width: 25%; /* 300px/1200px */
    margin-right: 0px;
}

.artigo{
    background-color: #fff;
    border-radius: 0.3em;
}
.artigo-img{
    width: 100%;
    height: 129px;
}
.artigo-img img{
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}
.artigo-view{
    position: relative;
    top: -25px;
    width: 100%;
    color: #fff;
    font-size: 1em;
    background: rgba(190,215,95,0.6);
    text-align: right;
    padding: 0.3em;
}
.artigo-texto{
    margin: 1em;
}
.artigo-texto h1{
    font-size: 1.6em;
    color: #BED75F;
}
.artigo-texto p{
    font-size: 1.2em;
}
.artigo-dados{
    border-top: 0.1em solid #999;
    padding: 0.2em 1em;
}
.artigo-dados img{
    position: relative;
    width: 15.83333333333333%;
    float: left;
    margin-right: 1em;
    border: 0.3em solid #BED75F;
    border-radius: 50%;
}
.artigo-dados h2{
    line-height: 8px;
    font-size: 1em;
}

/* Footer */
.footer{ background-color: #fff; }
.cols{
    width: 20%;
    margin-right: 5%;
    float:left;
}

.cols:last-child{
    margin-right: 0px;
}

/* norma */

.space{margin-bottom: 2em;}

.clearfix:before,
.clearfix:after{ content: " "; display: table; }
.clearfix:after{ clear: both; }
.clearfix{ *zoom: 1; }